##
## get-cli directories 
##
.vs
.vscode
[Bb]in
[Bb]uild


##
## get-cli extensions
##
**.bak
**.bak1
**.bak2
**.bak3
**.code-workspace


##
## get-cli specific files
##


##
## internal
##
test
test.c
test.cc
test.cpp
test.exe
test.o
test.h
test.hpp
